.Container
{
    border: 1px solid black;
    margin: 100px;
    height: 250px;
    width: 700px;
    padding: 50px;
    gap: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px 12px lightblue;
    
}
  
h1,h4{
    font-family: sans-serif;
}
.elements{
    margin-bottom:20px ;
}    
    

 
  